# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\06_python\09_learn_algorithm\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
